.container{
    border-width: 1000px;
    overflow-x: hidden;
}
h1{
    color:#117A65;
    font-family: 'Cinzel', serif;
    margin-top: 0%;
    font-size:2.5em;
    text-align:center;
    text-decoration:underline;
    letter-spacing:0.1em;
    padding:5%;

   }
header{
    background-color: #117A65;

}
.nav,a{
    font-family: 'Varela Round', sans-serif;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize
}

       
